:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  overflow: auto;

  padding: 1rem;

  background: lightgray;

  &.scaled-up {
    align-items: flex-start;
  }
}
