:host {
  position: relative;
  display: flex;
  aspect-ratio: 210 / 297;

  box-sizing: border-box;

  padding: 0.5rem;

  background: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

img {
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
