:host {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;

  background: yellow;

  opacity: 0.5;

  &:hover,
  &.selected {
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
  }

  &.selected {
    cursor: text;
  }
}

.annotation-text {
  user-select: none;
}

.btn-close {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid black;
  background: red;
  color: white;
  cursor: pointer;

  span {
    user-select: none;
  }
}
