:host {
  display: flex;
  width: 100vw;
  height: 100vh;

  --header-height: 4rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background: white;

  box-sizing: border-box;
  padding: 1rem;

  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

  h1 {
    margin: 0;
  }

  .scale-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }
}

.content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-top: var(--header-height);
}
