:host {
  display: flex;
  width: 100vw;
  height: 100vh;

  --header-height: 4rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  box-sizing: border-box;

  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  height: var(--header-height);
  background: white;

  padding: 1rem;

  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

  h1 {
    margin: 0;
  }

  .scale-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    height: 100%;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-top: var(--header-height);
}
